  .header-title {
    color: #1976d2;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 10px;
    line-height: 48px;
    font-weight: bold;
    cursor: pointer;
  }

  .header-title:hover {
    text-decoration: underline;
  }

  .ui-button-rounded {
    border-radius: 8px;
  }

  .ui-button-spaced {
    margin-left: 5px;
    margin-right: 5px;
  }