 <p-dialog header="Login" [(visible)]="display" [modal]="true" [draggable]="false" [closable]="true" [dismissableMask]="false" [resizable]="false">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="p-field">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText formControlName="username" autofocus>
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" type="password" pInputText formControlName="password">
    </div>
    <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"></button>
  </form>
</p-dialog>