<div class="p-card movie-card">
  <div class="p-card-body">
    <div class="p-card-title">{{ movie.title }}</div>
    <div class="text-muted">
      Posted {{ movie.dateAdded | timeAgo }} by {{ movie.userName }}
    </div>
    <div class="p-card-content">{{ movie.description }}</div>
    <div class="like-dislike-section">
      <i
        class="pi pi-thumbs-up"
        [ngClass]="{ liked: hasVoted('LIKE') }"
        (click)="likeMovie(movie.id)"
      ></i>
      <span class="likes">{{ movie.numberOfLikes }} likes</span>
      <i
        class="pi pi-thumbs-down"
        [ngClass]="{ disliked: hasVoted('HATE') }"
        (click)="dislikeMovie(movie.id)"
      ></i>
      <span class="dislikes">{{ movie.numberOfHates }} hates</span>
      <!-- Optionally, add a button or icon for removing a vote -->
      <i
        *ngIf="movie.loggedUserVote"
        class="pi pi-times"
        (click)="removeVote(movie.id)"
      ></i>
    </div>
  </div>
</div>
